*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', sans-serif;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27ae60;
    color: #fff;
    padding: 1.5rem 2rem;
}

.nav-logo{
    font-size: 2rem;
    color: #22d3ee;
    text-shadow: 2px 2px #333;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    font-weight: 400;
    margin-left: 2rem;
    font-size: 1.3rem;
    color: #ffff;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    transform: translateY(-2px);
    border-bottom: 2px solid #f7f417 ;
}

.hamburger {
    display: none;
    font-size: 1.6rem;
    cursor: pointer;
}

/* responsive navbar */
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        left: -100%;
        background: rgb(104, 138, 118);
        font-size: 1.3rem;
        width: 100%;
        text-align: center;
        gap: 1.5rem;
        padding: 2rem 0;
        transition: left 0.5s cubic-bezier(.77,0,.175,1);
        border-radius: 0.5rem;
    }

    .nav-links.active {
        left: 0;
    }

    .hamburger {
        display: block;
    }
}

/* hero section */
.container{
    text-align: start;
    font-weight: 400;
    background-color: transparent;
    margin: 3rem 0.5rem;

}
.container h1{
    margin: 2rem 0;
    text-align: center;

}
.faq-container {
    text-align: start;
    box-shadow: 0 10px 30px #4abdd4;
    width: 100%; 
    background-color: #f2fffef3;
    border-radius: 1rem;

}

.faq-item {
    border-radius: 0.5rem;
    border-bottom: 1px solid #7fa890;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 500;
}

.item-que {
    padding: 1rem 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item-que:hover {
    background: linear-gradient(45deg,#35c973 ,#3ede76);
    color: #0c0404;
}
.item-ans {
    font-size: 1rem;
    max-height: 0;
    overflow: hidden;
    padding: 0 2rem;
    transition: max-height 0.4s ease, padding 0.4s ease;
    background-color: rgba(214, 248, 201, 0.85);
}
.faq-item.active .item-ans {
    max-height: 200px;
    padding: 1rem 2rem;
}
/* rotate +  */
.item-que span {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}
.faq-item.active .item-que span {
    transform: rotate(45deg);
}

/* Footer */
footer {
    background: linear-gradient(135deg, #1f2937, #111827);
    color: #ffff;
    text-align: center;
    padding-top: 1rem;
}
.primary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.secondary ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.secondary img{
    max-width: 1.5rem;
}