*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f9f9f9;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27ae60;
    color: #fff;
    padding: 1.5rem 2rem;
}

.nav-logo{
    font-size: 2rem;
    color: #22d3ee;
    text-shadow: 2px 2px #333;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    font-weight: 400;
    margin-left: 2rem;
    font-size: 1.3rem;
    color: #ffff;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    transform: translateY(-2px);
    border-bottom: 2px solid #f7f417 ;
}

.hamburger {
    display: none;
    font-size: 1.6rem;
    cursor: pointer;
}

/* responsive navbar */
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        left: -100%;
        background: rgb(104, 138, 118);
        font-size: 1.3rem;
        width: 100%;
        text-align: center;
        gap: 1.5rem;
        padding: 2rem 0;
        transition: left 0.5s cubic-bezier(.77,0,.175,1);
        border-radius: 0.5rem;
    }

    .nav-links.active {
        left: 0;
    }

    .hamburger {
        display: block;
    }
}
/* hero */
.pass-container {
    background:#f9fafb;
    color: #111827;
    box-shadow: 0 10px 30px #252727;
    height: auto;
    width: 40vw;
    border-radius: 1rem;
    margin: 4rem auto;
    padding-bottom: 1rem; 
    transition: all 0.3s ease;
}
.pass-container:hover{
    transform: translateY(-15px);
    
}
.pass-container h1{
    font-weight: 600;
    padding-bottom: 2rem;
}

.password {
    display: grid;
    grid-template-columns: auto min-content;
    border-radius: 0.8rem;
    overflow: hidden;
    margin: 1rem;
}

#result {
    padding: 1rem;
    background-color: #76808f;
    color: #000;
    font-size: 2rem;
    border: none;
    outline: none;
    width: 100%;
}

#copy {
    background-color: lightseagreen;
    padding: 1rem;
    border: none;
    cursor: pointer;
}   

#pass-length {
    width: 90%;
    padding: 1rem;
    margin-top: 0.5rem;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    font-size: 1.5rem;
    margin: 1rem; 
}

.options label {
    display: block;
    background-color: rgba(17, 160, 243, 0.1);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

#gen-btn, #back-btn{
    display: block;
    width: calc(100% - 2rem); 
    margin: 1.50rem auto 0;      
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.8rem;
    background: linear-gradient(135deg, #22d3ee, #3b82f6);
    cursor: pointer;
    transition: all 0.3s ease;
}
#gen-btn:hover,#back-btn:hover{
    transform: scale(1.05);
    background: linear-gradient(135deg, #3b82f6, #6366f1);
}
@media (max-width: 600px) {

    .pass-container {
        max-width: 90%;
        width: 100%;
    }
    
}



/* Footer */
footer {
    background: linear-gradient(135deg, #1f2937, #111827);
    color: #fff;
    text-align: center;
    padding-top: 1rem;
}
.primary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.secondary ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.secondary img{
    max-width: 1.5rem;
}